input[type = text], select {
    width: 100;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type = submit], select {
    width: 100;
    background-color: darkgreen;
    padding: 14px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type = submit]:hover{
    background-color: aquamarine;
}
div{
    border-radius: 5px;
    background-color: aqua;
    padding: 20px;
}
